@font-face 
{
    font-family: 'MontereyFLF';
    src: url('MontereyFLF.ttf');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family : MontereyFLF;
}

section
{
    padding: 4%;
}


/*= Navigation*/

header
{
    color: white;
    padding: 60px;
    background-color: #022756;
    max width: 100%;       
}

h1
{
    height: 1px;}

nav
{
    padding: 1em;
}

#navbar
{
    max-width: 100%;
    text-align: end;
    display: inline-block; 
}



/*= Profil*/

#profile
{
    text-align: center;
    padding-top: 2em;
}

.img-responsive
{
    width: 260px;
	height: 260px;
    border-radius: 10px;
    border : 2px solid #000000;

}


/*= Formation*/

#training 
{
    background-color: #022756;
    color: white;
}



/*= Compétences*/

#skills
{
    padding-left: 6%;
    padding-bottom: 2%;
}

.skillbar-title
{
    color: black;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    padding: 3%;
    border-radius: 10px;
}

progress
{   
    width: 100%;
    height: 80%;
}

hr
{
    color: #022756;
    padding: 10px;
}



/*= Centres dinteret*/

#interest
{
    text-align: center;
}

#music
{
    text-align: center;
}

#zik
{
    padding-bottom: 5%;
}

.img-fluid
{
    margin: auto;
    padding: 2%;
}

#terrarium, #duo, #ferre
{
    color: whitesmoke;
    padding: 2em;
    border-radius: 3%;
    background-color:rgb(37, 37, 37);
    margin: auto;
    margin-bottom: 10%;
}

h5
{
    padding: 1em;
    text-align: center;
}



/*= Formulaire*/

input, textarea, #submit
{
    margin: 2%;
}

#meeting, #formulaire
{
    color: white;
    padding-bottom: 1em;
    padding-left: 15px;
    background-color: #022756;
}

footer
{
    padding: 3em;
}
